.main_screen{
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  background-image: url("../img/tint.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 35px;
  .main_screen_text{
    width: 100%;
    max-width: 615px;
    h1{
      font-size: 60px;
      color: #000;
      line-height: 60px;
      margin-bottom: 15px;
    }
    p{
      font-size: 32px;
      line-height: 40px;
      font-family: $f_kepler;
      color: #000;
    }
  }
}
select{
  padding: 0 30px 0 13px;
  color: #000;
  height: 33px;
  border: 2px solid #dbd4b8;
  background-color: #FFF;
  border-radius: 0;
  font-weight: bold  ;

  text-transform: uppercase;

  font-family: $f_proxima;

}
.header_language_form{
  width: 130px;
  margin-bottom: 80px;
  display: block;
  .jq-selectbox__select {

    padding: 0 30px 0 13px;
    color: #000;
    height: 33px;
    border: 2px solid #dbd4b8;
    background-color: #FFF;
    .jq-selectbox__select-text {
      display: block;
      overflow: hidden;
      width: 100%!important;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 33px;
      line-height: 30px;
      font-size: 14px;
      text-align: center;
      font-weight: bold  ;

      text-transform: uppercase;

      font-family: $f_proxima;
      letter-spacing: 0.6px;
    }
  }
  .jq-selectbox__trigger-arrow {

    top: 10px;
    background-image: url(../img/down-arrow.svg);
    position: absolute;
    width: 15px;
    height: 12px;
    z-index: 10;
    right: 7px;
    background-size: 9px;
    background-repeat: no-repeat;
  }
}

.header_topline{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 35px;
  .logo{


  }
  ul{
    display: flex;
    li{
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #ffffff;
        font-family: $f_proxima;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
  }
  .main_header_sing{
    float: right;
  }
}

.main_about{
  padding: 50px 0;
}
.main_about_item{
  display: flex;
  flex-direction: column;
  .main_about_item_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 130px;
    img{
      width: 80px;
    }
  }
  .main_about_item_name{
    font-family: "Kepler";
    font-size: 25px;
    display: block;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;

  }
  p{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    min-height: 120px;
  }
}



.button{
  min-width: 182px;
  padding: 10px;

  display: flex;
  margin: 20px auto 0;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: #000;
  font-family: $f_proxima;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid #dbd4b8;
  letter-spacing: 1.4px;
  font-weight: 700;
  &:hover{
    background-color: #dbd4b8;
    text-decoration: none;
    color: #000;
  }

}

.main_inform{
  padding: 50px 0;
  width: 100%;
  background-image: url("../img/new_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  h2{
    text-align: left;
    font-size: 36px;
    margin: 0;

  }
  .button{
    width: 120px;
    min-width: 120px;
    margin: 20px 0 0;
    height: 33px;
    font-size: 13px;
  }
}
.main_news{
  li{
    margin-bottom: 10px;
    a{
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #000;
    }
    p{
      margin: 0;
      font-size: 14px;
      line-height: 20px;

    }
    span{
      display: block;
      color: #999999;

      font-size: 13px;
    }
  }
}

.about_platform{
  padding-right: 50px;
  p{
    color: #000000;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.counter_wr{
  display: flex;
  .counter{
    color: #000000;
    font-family:$f_kepler;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;


  }
  span{
    color: #000000;
    font-family:$f_kepler;
    text-transform: uppercase;
    font-size: 36px;
    margin-left: 8px;
    position: relative;
    top: -4px;
    line-height: 36px;
  }

}
.site_counter{
  margin-top: 62px;
  flex-direction: column;
  display: flex;
  p{
    font-size: 14px;
    font-family:$f_kepler;
    text-transform: uppercase;
    display: block;
    margin: 0;
    line-height: 1;
  }
  li{
    margin-bottom: 25px;
  }
}

.main_mergers_item{
  display: flex;
  flex-direction: column;
  .main_about_item_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 130px;
    img{
      width: 80px;
    }
  }
  .main_about_item_name{
    font-family: "Kepler";
    font-size: 22px;
    display: block;
    text-align: center;
    line-height: 23px;
    margin-bottom: 10px;
    padding: 0 10px;

  }
  p{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    min-height: 100px;

  }
}

.main_mergers_item_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.main_mergers{
  padding: 50px 0;
  .button{
    max-width: 180px;
    text-align: center;
    font-size: 14px;

    line-height: 15px;
    text-transform: uppercase;


  }
}

footer{
  padding: 50px 0 30px;
  background-color: #46423e;
  min-height: 280px;
  background-image: url("../img/footer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .footer_title{
    color: #dbd4b8;
    font-family: $f_kepler;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 25px;
  }

  .footer_information{
    text-align: center;
    span{
      color: #a8a8a8;

      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}
.footer_menu{
  a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    &:hover{
      text-decoration: none;
      color: #dbd4b8;
    }
  }
}
ul.social_link{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
  li{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
    a{
      color: #fff;
      font-size: 32px;
      opacity: 0.5;
      &:hover{
        color: #dbd4b8;
        opacity: 1;
      }
    }
  }
}

.footer_bottom_line{
  display: flex;
  color: #aaaaaa;
  margin-top: 70px;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  p{
    margin-bottom: 0;
  }
  ul{
    display: flex;
    li{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #aaa;
        font-size: 13px;

        &:hover{
          color: #fff;

        }
      }

    }
  }

}

.main_chart{
  width: 100%;
  min-height: 400px;
  background-image: url("../img/stat_bg.jpg");
  background-size: cover;


}
.highcharts-title{
  color: #000000!important;
  font-family: $f_proxima!important;
  font-size: 16px!important;
  text-align: center!important;
  width: 100%!important;
  display: block!important;
  text-transform: uppercase!important;

}