@import "vars";


@media only screen and (max-width: 1900px) {
}

//----------------
@media only screen and (max-width: 1200px) {
  .menu-link{
    display: inline-block;
  }
  .user_header_wrap .user_header_nav{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    top: 75px;
    background-color: #dfd9c0;
    z-index: 2;

    display: none;
    ul{
      justify-content: center!important;
      flex-wrap: wrap;
      li{
        margin: 10px;
      }
    }
  }
  .find_form {

    flex-wrap: wrap;
  }
  .find_form .find_form_item{
    margin-bottom: 20px;
  }
  .find_form_buttons .button {
    padding: 0;
    height: 44px;
  }

}


@media only screen and (max-width: 992px) {
  .listings_item .listings_item_img{
    margin-bottom: 30px;
  }
  .listings_item .listings_item_img img{
    max-width: 100%;
    width: auto;
  }
  .listings_item_inform h3 {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .find_form_item{
    width: calc(50% - 20px);
  }
  .user_header_wrap .user_header_nav{
    z-index: 1001;
    top: 75px;
  }
}

@media only screen and (max-width: 767px) {

  .advisor_item_img{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .advisor_item .advisor_item_img img{
    max-width: 100%;
    width: auto;
  }
  .advisor_item_inform .wrap{
    flex-direction: column;
  }
  .form_item textarea{
    width: 100%;
  }
  .form_item .jq-selectbox{
    width: 100%;
  }
  .edit_profile_img img {
    max-width: inherit;
    width: auto;
  }
  .tabs a {

    padding: 0 9px;
  }
  .users_page h1 {

    margin-bottom: 20px;
    font-size: 30px;

    line-height: 33px;
  }
}
@media only screen and (max-width: 480px) {
  .find_form_item{
    width: 100%;
    margin-right: 0;
  }
}