@import "vars";
.users_page{
  margin-bottom: 70px;
  min-height: calc(100vh - 491px);
  h1{
    color: #000000;
    display: block;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    span{
      color: #cccccc;
    }
  }
}
.users_page .users_page_title {
  color: #000;

  margin-bottom: 40px;
  margin-top: -15px;
  font-size: 30px;
  font-weight: 400;
  display: block;
  line-height: 35px;
  font-family: Kepler;

}
.advisor_item{
  width: 100%;
  margin-bottom: 30px;
  .advisor_item_img{
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}

.advisor_item_inform{
  span.title{
    display: block;
    font-family: $f_kepler;
    font-size: 30px;
    line-height: 31px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    i{
      font-style: normal;
      color: #cccccc;
    }

  }
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    p{
      span{
        display: block;
      }
    }

  }
}
.advisor_links{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  
  li{
    margin-right: 5px;

    &:last-child{
      margin-right: 0;
    }
    a{
      border: 2px solid #dbd4b8;
      font-size: 15px;
      color: #000;
      padding: 2px 5px;
      &:hover{
        color: #dbd4b8;
      }
    }
  }
}

.button.load{
  width: 182px;
}
.find_form{
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-end;
  .find_form_item{
    margin-right: 15px;
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      padding-left: 0;
      color: #666;
      min-width: 90px;

    }
    .jq-selectbox__select {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      padding: 0 10px 0 0;
      color: #666;
    }
    .jq-selectbox {

      min-width: 145px;
    }
    .jq-selectbox__trigger-arrow {
      top: 18px;
      position: absolute;
      width: 13px;
      height: 12px;
      right: 0px;
      background-size: 9px;
    }
  }
  label{
    width: 100%;
  }



}

.find_form_buttons{
  display: flex;
  .button{
    min-width: 83px;
    min-height: 43px;
    margin: 0;
    margin-right: 5px;
    font-size: 14px;

    &:last-child{
      margin-right: 0;
    }
    &.grey{
      border: 2px solid #dddddd;
      &:hover{
        background-color: #ccc;
      }
    }
  }
}

.listings_item{
  width: 100%;
  margin-bottom: 30px;
  .listings_item_img{
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }

  }
  .button{
    width: 100%;
    min-width: inherit;
    font-size: 16px;
    height: 43px;
  }

}
.listings_item_inform{
  h3{
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 5px;
  }
  span{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    &.grey{
      color: #999;
      a{
        color: #999;
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
  p{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
  }
}

.contact_user_form{
  margin-top: 30px;
  .button {
    min-width: 250px;
    margin: 20px 0 0;
  }
}

.capcha_form{
  margin-top: 7px;
  margin-bottom: 50px;
  .button {
    min-width: 250px;
    margin: 20px 0 0;
  }
}
.edit_profile{
  .find_form_buttons .button {
    min-width: 83px;
    max-width: 150px;
    width: 100%;
    margin-top: 30px;
  }
}


.edit_profile_img{
  margin-top: 18px;
  margin-bottom: 20px;
  .button{
    max-width: 100%;
    min-width: inherit;
  }
  img{
    max-width: 100%;
    width: 100%;
  }
}

.investor_about{
  width: 100%;
  .investor_about_img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.investor_about_list{
  padding: 20px;
  background-color: #f8f6f1;
  ul{
    li{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 9px;
      p{
        color: #999;
      }
      span{
        font-weight: 700;
      }
    }
  }
  h3{
    color: #999;
    font-weight: bold;
    margin-top: 30px;
    font-family: "Open Sans";
    font-size: 16px;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
  }
}

// TAB ~~~~~~~~~~~~~~~ (.)(.)
.tab {
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;

  line-height: 1.5;
  font-weight: 300;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;

  li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid $color;
  }
}

.tabs_item {
  display: none;
  padding: 30px 0;

  h4 {
    font-weight: bold;
    color: $color;
    font-size: 20px;
  }

  img {
    width: 200px;
    float: left;
    margin-right: 30px;
  }

  &:first-child {display: block;}
}

.current a {
  color: #fff;
  background: $color;
}


.list_style{
  list-style: disc;
  padding-left: 20px;
  li{
    list-style: disc;
    font-size: 14px;
  }
}

ul.inform{
  max-width: 400px;
  width: 100%;
  li{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 9px;
    p{
      color: #999;
      margin: 0;
    }
    span{
      font-weight: 700;
    }

  }
}

.request_information_form,.send_friend_form{
  .button{
    margin: 20px 0;
  }
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  li{
    margin-right: 10px;
    margin-bottom: 10px;
    a{
      display: inline-block;
      width: 230px;
      img{
        width: 100%;
        height: 130px;
        object-fit: cover;
      }
    }
  }
}

.user_cart{
  padding: 30px ;
  background-color: #f8f6f1;
  width: 100%;
  margin-top: 50px;
  img{
    margin: 0 auto 20px;
    display: table;
    max-height: 280px;
  }
  h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    span{
      display: block;
      color: #999;
    }
  }
  p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }
}