@import "vars";
.users_page{
  margin-bottom: 70px;
  h1{
    color: #000000;
    display: block;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
  }
}
.users_page .users_page_title {
  color: #000;

  margin-bottom: 40px;
  margin-top: -15px;
  font-size: 30px;
  font-weight: 400;
  display: block;
  line-height: 35px;
  font-family: Kepler;

}
.advisor_item{
  width: 100%;
  margin-bottom: 30px;
  .advisor_item_img{
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
}

.advisor_item_inform{
  span.title{
    display: block;
    font-family: $f_kepler;
    font-size: 30px;
    line-height: 31px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    i{
      font-style: normal;
      color: #cccccc;
    }

  }
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    p{
      span{
        display: block;
      }
    }

  }
}
.advisor_links{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  
  li{
    margin-right: 5px;

    &:last-child{
      margin-right: 0;
    }
    a{
      border: 2px solid #dbd4b8;
      font-size: 15px;
      color: #000;
      padding: 2px 5px;
      &:hover{
        color: #dbd4b8;
      }
    }
  }
}

.button.load{
  width: 182px;
}
.find_form{
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-end;
  .find_form_item{
    margin-right: 15px;
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      padding-left: 0;
      color: #666;
      min-width: 90px;

    }
    .jq-selectbox__select {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      padding: 0 10px 0 0;
      color: #666;
    }
    .jq-selectbox {

      min-width: 145px;
    }
    .jq-selectbox__trigger-arrow {
      top: 18px;
      position: absolute;
      width: 13px;
      height: 12px;
      right: 0px;
      background-size: 9px;
    }
  }
  label{
    width: 100%;
  }



}

.find_form_buttons{
  display: flex;
  .button{
    min-width: 83px;
    min-height: 43px;
    margin: 0;
    margin-right: 5px;
    font-size: 14px;

    &:last-child{
      margin-right: 0;
    }
    &.grey{
      border: 2px solid #dddddd;
      &:hover{
        background-color: #ccc;
      }
    }
  }
}

.listings_item{
  width: 100%;
  margin-bottom: 30px;
  .listings_item_img{
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }

  }
  .button{
    width: 100%;
    min-width: inherit;
    font-size: 16px;
    height: 43px;
  }

}
.listings_item_inform{
  h3{
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 5px;
  }
  span{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    &.grey{
      color: #999;
      a{
        color: #999;
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
  p{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
  }
}

.contact_user_form{
  margin-top: 30px;
  .button {
    min-width: 250px;
    margin: 20px 0 0;
  }
}

.capcha_form{
  margin-top: 7px;
  margin-bottom: 50px;
  .button {
    min-width: 250px;
    margin: 20px 0 0;
  }
}