@import "vars";
@import "libs";
@import "fonts";
@import "main_page";
@import "all_page";
@import "users_page";
@import "header";
::placeholder {
  color: #666;
}

::selection {
  background-color: #ffa742;
  color: #fff;
}

html, body {
  height: 100%;
}

body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;

}

a, button {
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none !important;

}

input {
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
    outline: none;
    height: 43px;
    border: 1px solid #cccccc;

    color: #333;

    border-radius: 0;
    font-size: 16px;
    line-height: 43px;
    padding: 0 20px;
  }
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

textarea {
  height: 140px;
  line-height: 20px;
  padding: 15px 20px;
  border: 1px solid #cccccc;
  width: 100%;
  color: #333;

  border-radius: 0px;
  font-size: 16px;
  font-weight: 300;
  resize: none;

  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4 {
  font-family: $f_kepler;

}

.section_title {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  padding-bottom: 30px;
  position: relative;

  width: 100%;
  &:before {
    content: "";
    width: 200px;
    height: 2px;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 100px);
    display: inline-block;
    background-color: #dbd4b8;
  }
}

.highcharts-data-labels.highcharts-series-0 {
  z-index: 1;
}

.highcharts-tooltip {
  stroke: #cac096;
  z-index: 9999 !important;
  fill: #fff;
  position: absolute;
  pointer-events: none;
  white-space: inherit !important;
  width: 100px !important;

}

.highcharts-tooltip > span {
  stroke: #cac096;
  background-color: #ffF;
  padding: 10px !important;
  font-size: 18px!important;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-exporting-group, .highcharts-credits {
  display: none;
}

.highcharts-label.highcharts-data-label {
  z-index: -1 !important;
  span {

    color: #000000 !important;
    font-family: "Open Sans" !important;
    font-size: 13px !important;

    white-space: inherit !important;
    width: 110px !important;

    text-overflow: inherit !important;
    overflow: visible !important;

  }
  b {
    font-size: 16px !important;
  }
  small {
    font-size: 12px !important;
    font-weight: normal !important;
  }

}

.highcharts-container {
  overflow: visible !important;
}
.main_chart_item{
  max-width: 90%;
  margin: 0 auto;
}

.all_pages{
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 101;
  &.open{
    ul{
      right: 0;
    }
  }
  .page_point{
    width: 40px;
    height: 15px;
    background-color: #48bcff;
    cursor: pointer;
  }
  ul{
    background-color: #48bcff;
    padding: 15px 20px;
    position: absolute;
    top: 100%;
    width: 250px;
    right: -250px;
    transition: .4s;
    max-height: 450px;
    overflow-y: auto;
    li{
      list-style: none;
      margin-bottom: 5px;
      font-size: 17px;

      a{
        color: #fff;
      }
    }
  }
}



@import "media"; // Always at the end
@import "media_users"; // Always at the end
