
<!--<footer>-->
    <!--<div class="container">-->
        <!--<ul class="social_link">-->
            <!--<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
            <!--<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
            <!--<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="fab fa-instagram"></i></a></li>-->
            <!--<li><a href="#"><i class="fab fa-youtube"></i></a></li>-->
        <!--</ul>-->
        <!--<div class="footer_information">-->
            <!--<span class="site_description">© 2018 tOGETHER <br>-->
                <!--aLL RrIGHTS rESERVED</span>-->
        <!--</div>-->

    <!--</div>-->
<!--</footer>-->

<script src="js/scripts.min.js"></script>


<script src="js/common.js"></script>

</body>
</html>
